html {
    background-color: #2167ff;
}

a {
    margin-top: 1rem;
    text-decoration: none;
    background-color: white;
    border-radius: 20px;
}

h1 {
    color: #FFF;
    font-size: 2rem;
    text-align: center;
}

h3 {
    color: #FFF;
    text-align: center;
}

#text_box {
    font-size: larger;
    color: rgb(128, 0, 255);
    display: block;
    margin-block-start: 8rem;
    margin-block-end: 5rem;
    margin-inline-start: 4rem;
    margin-inline-end: 90rem;
}

#sol {
    display: block;
    width: 150px;
    height: 150px;
    margin: 0rem 56rem 0rem;
    border-radius: 50%;
    z-index: 999;
    position: absolute;
    background-color: rgb(251, 255, 0);
    box-shadow: inset -25px -15px 40px rgba(0,0,0,.3);
    background-image: linear-gradient(-45deg, rgba(255, 255, 220, 0.049) 0%, transparent 100%);
    
}

#chão {
    margin-left: 0rem;
    margin-top: 31rem;
    background-color: rgb(96, 250, 122);
    position: absolute;
    height: 300px;
    width: 1800px;
    background-image: linear-gradient(-45deg, rgba(255,255,220,.3) 0%, transparent 100%);
}

#tronco {
    margin-left: 30rem;
    margin-top: 12rem;
    background-color: rgb(70, 30, 30);
    position: absolute;
    height: 310px;
    width: 100px;
    background-image: linear-gradient(-45deg, rgba(255,255,220,.3) 0%, transparent 100%);
}

#folha1 {
        display: block;
        width: 150px;
        height: 150px;
        margin: 4rem 30rem 0rem;
        margin-right: 20rem;
        border-radius: 50%;
        z-index: 999;
        position: absolute;
        background-color: rgb(0, 255, 94);
	    box-shadow: inset -25px -15px 40px rgba(0,0,0,.3);
	    background-image: linear-gradient(-45deg, rgba(255,255,220,.3) 0%, transparent 100%);
        
}

#folha2 {
    display: block;
    width: 150px;
    height: 150px;
    margin: 7rem 25rem 0rem;
    border-radius: 50%;
    z-index: 999;
    position: absolute;
    background-color: rgb(0, 255, 94);
    box-shadow: inset -25px -15px 40px rgba(0,0,0,.3);
    background-image: linear-gradient(-45deg, rgba(255,255,220,.3) 0%, transparent 100%);
    
}

#folha3 {
    display: block;
    width: 150px;
    height: 150px;
    margin: 5rem 35rem 0rem;
    border-radius: 50%;
    z-index: 999;
    position: absolute;
    background-color: rgb(0, 255, 94);
    box-shadow: inset -25px -15px 40px rgba(0,0,0,.3);
    background-image: linear-gradient(-45deg, rgba(255,255,220,.3) 0%, transparent 100%);
    
}

#folha4 {
    display: block;
    width: 150px;
    height: 150px;
    margin: 3rem 27rem 0rem;
    border-radius: 50%;
    z-index: 999;
    position: absolute;
    background-color: rgb(0, 255, 94);
    box-shadow: inset -25px -15px 40px rgba(0,0,0,.3);
    background-image: linear-gradient(-45deg, rgba(255,255,220,.3) 0%, transparent 100%);
    
}

#folha5 {
    display: block;
    width: 150px;
    height: 150px;
    margin: 7rem 32rem 0rem;
    border-radius: 50%;
    z-index: 999;
    position: absolute;
    background-color: rgb(0, 255, 94);
    box-shadow: inset -25px -15px 40px rgba(0,0,0,.3);
    background-image: linear-gradient(-45deg, rgba(255,255,220,.3) 0%, transparent 100%);
    
}